extends ../layout.jade
block contenido
	h1 Panel administrativo
	div(class="form-group")
		input(type="submit" class="btn btn-info" onclick="location.href='./menu/new'" value="Nuevo Cliente")
	table(class="table")
		caption Clientes guardados
		thead
			tr
				th Codigo
				th Distribuidora
				th Categoria
				th Nombre
				th Descripción
				th Precio
				th Imagen
				th Acción
		tbody
			each product in products
				tr
					td= product.id
					td= product.distribuidora
					td= product.categoria
					td= product.nombre
					td= product.descripcion
					td= product.precio
					td
						input(type="submit" class="btn btn-info" onclick="location.href='#{product.imagen}'" value="Ver")
					td 
						input(type="submit" class="btn btn-info" onclick="location.href='./menu/edit/#{product.id}'" value="Editar")
						=" - "
						input(type="submit" class="btn btn-info" onclick="location.href='./menu/delete/#{product.id}'" value="Eliminar")