doctype html
html(lang="en")
	head
		title InfoTaxiBOL
		meta(charset="UTF-8")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/animate.css")
		link(href="https://fonts.googleapis.com/css?family=Delius+Unicase|Raleway:200,400,500,600" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet")
		link( href="https://fonts.googleapis.com/css?family=Philosopher" rel="stylesheet")
		script( async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		script (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-4720411224205075", enable_page_level_ads: true });
	body
		div(class="col-md-4 col-xs-9 col-sm-9 center-block quitar-float text-center margen-a" id="principal")
			img(src="img/taxi.png" class="animated fadeInRight")
			h1(class=" PhilosopherSha verde-i grande4 animated flipInX retraso1") Info Taxi Bolivar
			div(class="")
				a(href="/menu" style="text-decoration:none; color:black;")
					h4(class="PhilosopherSha2 grande3 animated fadeInLeft retraso2") Busca la via segura a tu destino
				//nav(class="")
					a(href="/menu/cdbol" style="text-decoration:none; color:black;" class="espacio-d animated fadeIn retraso3") Ciudad Bolívar
					a(href="/menu/pzo" style="text-decoration:none;color:black;" class="estacio-d animated fadeIn retraso35") Puerto Ordaz

		script( async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		ins(class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-5337327391434637" data-ad-slot="7576675307")
		script (adsbygoogle = window.adsbygoogle || []).push({});